* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.destaque-contato {
    background: url(../assets/destaque-contato.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--quaternary-color);
    font-weight: 300;
    font-size: 1.8rem;
}

.destaque-contato h2 {
    font-size: clamp(2rem, 10vw, 6rem);
    max-width: 735px;
    margin: 24px 0;
}

.destaque-contato p {
    line-height: var(--line-height-secondary);
    letter-spacing: var(--letter-spacing);
    max-width: 900px;
    line-height: 3rem;
    
}

.assunto {
    margin-top: var(--margin-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.assunto form {
    margin-bottom: 5rem;
}

.texto-contato {
    max-width: 600px;
    margin-left: 80px;
}

.texto-contato h1 {
    font-size: 50px;
}
.texto-contato p {
    font-size: 20px;
}
address, .tel, .email {
    margin-right: 3rem;
}


.enderecos-instituicao {
    margin: 20px 0px 100px;   
    display: flex;
}
.endereco-texto b, .endereco-tel-email b {
    font-size: 20px;
}
.endereco-texto p, .endereco-tel-email a {
    font-size: 15px;
}

address, .tel, .email {    
    display: flex;
    align-items: center;

}
.endereco-texto, .endereco-tel-email {
    display: flex;
    flex-direction: column;
}

.enderecos img {
    margin: 0px 9px 0px;
}
.tel a, .email a {
    text-decoration: none;
    color: black;
}


.horario {
  margin: 40px 0;
}
.contato-mapa iframe {
    width: 100%;

}
